@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

@theme {
  --color-brown-60: #ae9b84;
  --color-brown-65: #b8a893;
  --color-brown-70: #c2b4a3;
  --color-brown-80: #d6cdc1;
  --color-brown-90: #ebe6e0;
  --color-brown-95: #f5f2f0;
  --color-brown-97: #f9f7f6;
  --color-brown-99: #fdfcfc;

  --color-dark-6: #0f0f0f;
  --color-dark-10: #1a1a1a;
  --color-dark-12: #1f1f1f;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-25: #404040;
  --color-dark-30: #4d4d4d;
  --color-dark-35: #595959;

  --color-gray-40: #676665;
  --color-gray-50: #81807e;
  --color-gray-70: #b3b3b2;
  --color-gray-80: #cacace;
  --color-gray-90: #e6e6e6;
  --color-gray-95: #f2f2f2;
  --color-gray-97: #f7f7f7;
  --color-gray-99: #fcfcfc;

  --text-67: 67px;
  --text-15: 15px;
  --text-51: 51px;
  --text-50: 50px;
  --text-58: 58px;
  --text-38: 38px;
  --text-28: 28px;
  --text-22: 22px;
  --text-26: 26px;
  --text-12: 12px;
  --text-78: 78px;
  --text-40: 40px;
  --text-42: 42px;
  --text-60: 60px;
  --text-54: 54px;
  --text-34: 34px;
  --text-44: 44px;

  --radius-20: 20px;
  --radius-10: 10px;
  --radius-14: 14px;
  --radius-16: 16px;

  --spacing-0_5: 2px;
  --spacing-1_4: 5px;
  --spacing-1_5: 6px;
  --spacing-1_9: 9px;
  --spacing-2_5: 10px;
  --spacing-3_5: 14px;
  --spacing-3_6: 15px;
  --spacing-4_5: 16px;
  --spacing-4_8: 18px;
  --spacing-5_3: 23px;
  --spacing-6_5: 25px;
  --spacing-6_6: 26px;
  --spacing-6_7: 28px;
  --spacing-7_5: 30px;
  --spacing-8_5: 34px;
  --spacing-10_5: 42px;
  --spacing-10_6: 44px;
  --spacing-40_2: 162px;
  --spacing-12_5: 50px;
  --spacing-12_6: 54px;
  --spacing-14_5: 60px;
  --spacing-14_7: 62px;
  --spacing-16_5: 70px;
  --spacing-16_6: 72px;
  --spacing-24_5: 100px;
  --spacing-24_6: 115px;
  --spacing-24_7: 120px;
  --spacing-33: 132px;
  --spacing-33: 132px;
  --spacing-36_5: 150px;
  --spacing-36_6: 162px;
  --spacing-20_2: 82px;

  --tracking-3: -3%;

  --leading-110: 110%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
  --leading-27: 27px;
  --leading-auto: auto;

  --container-wrapper: 1440px;

  --shadow-ss2: 0px 0px 0px 4px #191919;
  --shadow-ss1: 0px 0px 0px 6px #191919;
  --ease-bounce: cubic-bezier(0.04, 1.25, 1, 1);
  --tracking-1_5: -1.5%;
  --leading-full: 100%;
  --ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}